.crud-example-view {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.crud-example-view vaadin-split-layout {
  width: 100%;
  height: 100%;
}

.crud-example-view vaadin-grid {
  height: 100%;
}

.crud-example-view .editor-layout {
  display: flex;
  flex-direction: column;
  width: 400px;
}

.crud-example-view .editor {
  flex-grow: 1;
  padding: var(--vaadin-padding-l);
}

.crud-example-view .editor vaadin-checkbox {
  padding-top: var(--vaadin-padding-m);
}

.crud-example-view .button-layout {
  width: 100%;
  flex-wrap: wrap;
  background-color: var(--vaadin-background-container);
  padding-bottom: var(--vaadin-padding-s);
  padding-top: var(--vaadin-padding-s);
  padding-left: var(--vaadin-padding-l);
  padding-right: var(--vaadin-padding-l);
  gap: var(--vaadin-gap-m);
}

.crud-example-view .grid-wrapper {
  width: 100%;
}
