.data-grid-view {
  display: block;
  height: 100%;
}
.data-grid-view vaadin-grid {
  height: 100%;
}
.data-grid-view vaadin-grid-filter,
.data-grid-view vaadin-grid-filter > * {
  width: 100%;
}
.data-grid-view vaadin-grid vaadin-horizontal-layout {
  align-items: center;
}
.data-grid-view vaadin-grid img {
  border-radius: 50%;
  flex-shrink: 0;
  height: 2.25rem;
  width: 2.25rem;
}
.data-grid-view .name {
  overflow: hidden;
  text-overflow: ellipsis;
}
