vaadin-scroller[slot="drawer"] {
  padding: var(--vaadin-padding-s);
  width: 280px;
}

vaadin-side-nav-item vaadin-icon {
  padding: 0;
}

[slot="drawer"]:is(header, footer) {
  display: flex;
  align-items: center;
  gap: var(--vaadin-gap-s);
  padding: var(--vaadin-padding-s) var(--vaadin-padding-m);
  min-height: 3.5rem;
  box-sizing: border-box;
}

[slot="drawer"]:is(header, footer):is(:empty) {
  display: none;
}
