@import 'main-layout.css';
@import 'views/crud-example-view.css';
@import 'views/gridwith-filters-view.css';
@import 'views/chat-view.css';
@import 'views/data-grid-view.css';
@import 'views/slow-grid-view.css';
