/*
 * This file has been created by the Vaadin Theme Editor. Please note that
 * manual changes to individual CSS properties may be overwritten by the theme editor.
 */
html {
  --aura-content-color-scheme:auto;
  --aura-notification-color-scheme:auto;
  color-scheme:auto;
}
